<div class="section" id="bio">
  <img src="https://preview.redd.it/the-fight-between-frank-and-elaine-was-out-there-v0-1gkwhdtrv81b1.jpg?width=640&crop=smart&auto=webp&s=7e495a7923935a74ba33881c0608e86743aea690">
</div>