<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <%# jquery %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <%# icons %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div class="sidebar">
  <div class="menu">
    <div class="menu-links">
        <a href="/">HOME</a>
        <a href="/blog">BLOG</a>
        <a href="/"><h1>alexis an</h1></a>
        <a href="/projects">PROJECTS</a>
        <a href="/bio">BIO</a>
    </div>
  </div>
</div>

