  <div class="sidebar">
    <div class="menu">
      <ul class="menu-links">
        <li><a href="/bio">bio</a></li>
        <li><a href="/asmr">asmr</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="/projects">projects</a></li>
      </ul>
      <a href="/"><img src="https://res.cloudinary.com/dzwpbkn3u/image/upload/e_grayscale/v1687826506/1-sushi-plate_rv8s70.png"></a>
    </div>
  </div>
