<div class="sidebar">
  <div class="menu">
    <div class="menu-links">
      <div class="menu-link">
        <a href="/blog"><p>blog</p></a>
      </div>
      <div class="menu-link">
        <a href="/projects"><p>projects</p></a>
      </div>
      <div class="menu-link">
        <a href="/bio"><p>bio</p></a>
      </div>
    </div>
  </div>
</div>

