<div class="section">
  <%= render "sidebar" %>

  <div class="container bio">
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1691253465/7F8D531C-96CB-4699-B899-E943812F8D8A_ikonyg.jpg", style: "width:200px" %>
    <div class="text">
      <p>
        alexis an<br>
        psychology major<br>
        from nyc, currently based in tokyo<br>
        previous experience in banking compliance<br>
        now working as full-stack devleoper at treehouse<br>
        enjoys reading, drawing, and being comfortable<br>
        loves all animals, books, old-school,<br>
        good coffee, good pizza,<br>
        and rainy weather<br>
      </p>
      <p>
        I believe it's important to:<br>
        1. recycle and to reduce plastic waste<br>
        2. be self-aware and observe myself objectively<br>
        3. be able to think and act rationally in any given situation<br>
        4. care for those who are weaker and innocent (i.e. animals)<br>
        5. take it easy and to enjoy the little things in life<br>
        6. hold my tongue unless absolutely necessary<br>
        7. have a healthy mentality and boundaries<br>
        8. be considerate of others<br>
        9. love one's self<br>
      </p>
    </div>
    <div class="sns">
      <a href="https://linkedin.com/in/alexis-sae-an" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://instagram.com/lykruok" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/apprehensive-fig" target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>
