<style>


  .sidebar {
    top: 60px;
    background-color: transparent;
    height: initial;
    position: fixed;
    max-width: 100%;
    left: 0;
  }

  .section {
    margin-top: 0;
  }

  .menu-links a {
    color: #fff;
  }

  .menu-links h1 {
    color: #fff;
  }

  @media screen and (max-width: 1200px) {
    .section {
      height: 100vh;
      display: initial;
    }

    .landing {
      margin: 0;
    }
  }
</style>

<div class="section">
  <%= render "sidebar" %>

  <div class="container landing">
    <div class="video-background">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dzwpbkn3u/video/upload/v1693542150/IMG_8414_qd5evf.mov" type="video/mp4">
      </video>
    </div>
  </div>
  <%= render "footer" %>
</div>

<%= render "cursor_tag" %>
