<div class="section">
  <%= render "sidebar" %>
  <div class="container post-wrapper">
    <div class="post-body"><%= @post.body.html_safe %></div>
  </div>
</div>

<%= render "cursor_tag" %>
<%= render "footer" %>

<script>
  window.onscroll = function() {
    // Check if the screen width is greater than 960px
    var navbar = document.querySelector('.sidebar');
      if (window.scrollY > 0) {
        navbar.style.top = '0';
      } else {
        navbar.style.top = '60px';
      }
  };
</script>