@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes slideUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slideDown {
  0% {
    clip-path: inset(0 0 100% 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.section {
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  position: relative;

  img {
    max-width: 300px;
  }
}

body {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeInAnimation ease 3s;
}

.body {
  width: 80%;
  align-items: end;
}

body::-webkit-scrollbar {
  display: none;
}

p, a, h1, h2 {
  font-family: 'Questrial', sans-serif;
}

a {
  text-decoration: none;
}

.sidebar {
  top: 80px;
  max-width: 1100px;
  width: 100%;
  position: fixed;
  z-index: 998;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  a {
    text-decoration: none;
    color: #333;
  }
}

.menu {
  a {
    img {
      width: 50px;
    }
  }
}

.menu-links {
  border-radius: 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  h1 {
    color: #333;
    margin-inline: 150px
  }

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 10px 5px
  }

  a:hover {
    color: #d3d3d3;
  }
}

.video-background {
  position: fixed;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 1100px;
  height: 80%;
  border-radius: 4px;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  font-weight: 300;
  position: fixed;
  background-color: #fff;
}

.landing {
  margin: 60px 0 10px 0;
  animation: fadeInAnimation ease 3s;

  h1 {
    margin-inline: 50px;
  }

  img {
    max-width: 1100px;
    height: auto;
    border-radius: 4px;
    opacity: 80%;
  }
}

.text-slide-in {
  animation: slideUp 3s ease;
}

.bio {
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px;

  img {
    max-width: 200px;
    border-radius: 50% 70%;
    opacity: 80%;
    animation: slideDown 1s ease;
  }

  .text {
    animation: fadeInAnimation ease 3s;

    p {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
  }

  .sns {
    margin-top: 50px;

    i {
      color: #333;
    }
  }
}

.blog {
  margin: 200px 0 50px 0;

  .posts {
    animation: fadeInAnimation ease 3s;
    display: flex;
    gap: 10px;

    .post {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        gap: 4px;
        margin-bottom: 14px;
      }

      img {
        max-width: 300px;
        border-radius: 4px;
        opacity: 80%;
      }
    }

    .post:hover {
      img {
        opacity: 100%;
      }
    }
  }
}


.projects {
  align-items: start;
  margin: 200px 0 50px 0;

  .project {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    .logo img {
      max-width: 250px;
      opacity: 80%;
    }

    .thumbnails img {
      opacity: 70%;
    }

    a {
      text-decoration: underline;
      color: #333;
      font-size: 12px;
      font-weight: 300;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      text-align: center;
    }
  }

  .project:nth-child(3), .project:nth-child(5) {
    h2 {
      font-family: 'Questrial', sans-serif;
      letter-spacing: 5px;
    }
  }

  .project:nth-child(odd) .thumbnails img{
    max-width: 100px;
  }

  .project:nth-child(even) .thumbnails img {
    max-width: 120px;
  }
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  font-size: 12px;
  text-indent: 20px;
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
  overflow: auto;
  margin: 100px 0 50px 0;
  animation: fadeInAnimation ease 3s;

  img {
    max-width: 400px;
    height: auto;
  }
}

.post-title {
  text-align: center;
}

.post-body {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.projects {
  animation: fadeInAnimation ease 3s;
}

#cursor {
  width: 10px;
  position: absolute;
  display: flex;
  font-size: 12px;
  z-index: 999;
}

@media screen and (max-width: 960px) {
  .section {
    gap: 10px;
  }

  .sidebar {
    left: 0;
    background-color: #fff;

    h1 {
      display: none;
    }

    a {
      font-size: 14px;
    }

    .menu-links {
      gap: 20px;
    }
  }
  

  .container {
    justify-content: center;
  }

  .landing {
    margin: 100px 0 50px 0;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 20px;
      margin-inline: 0;
    }
  }

  .video-background video {
    object-fit: cover;
    width: auto;
    height: 100vh;
    border-radius: 4px;
  }

  .posts {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
    .project {
      min-width: 100%;

      .logo img {
        max-width: 180px;
      }
      a, p {
        font-size: 12px;
      }
    }
  }

  .bio {
    margin: 100px 0 0 0;
  }
}


@media screen and (max-width: 960px) {
  .landing {
    h1 {
      font-size: 18px;
    }
  }
}

// audio {
//   filter: sepia(50%) saturate(50%) grayscale(1) contrast(100%) invert(0%);
//   width: 150px;
//   height: 25px;
// }

// audio::-webkit-media-controls-timeline, -webkit-media-controls-timeline {
//   display: none;
// }

// audio::-webkit-media-controls-current-time-display,
// audio::-webkit-media-controls-time-remaining-display {
//     display: none;
// }
