@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes slideUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slideDown {
  0% {
    clip-path: inset(0 0 100% 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.section {
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeInAnimation ease 3s;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
}

.body {
  width: 80%;
  align-items: end;
}

body::-webkit-scrollbar {
  display: none;
}

p, a, h1, h2 {
  font-family: 'Questrial', sans-serif;
}

a {
  text-decoration: none;
}

.sidebar {
  max-width: 1100px;
  width: 100%;
  position: fixed;
  z-index: 998;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  a {
    text-decoration: none;
    color: #333;
  }
}

.menu {
  a {
    img {
      width: 50px;
    }
  }
}

.menu-links {
  border-radius: 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  h1 {
    color: #333;
    margin-inline: 150px
  }

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 10px 5px
  }

  a:hover {
    color: #d3d3d3;
  }
}

.video-background {
  position: fixed;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 1100px;
  height: 80%;
  border-radius: 4px;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 12px;
  font-weight: 300;
  position: fixed;
  background-color: #fff;
}

.landing {
  animation: fadeInAnimation ease 3s;

  h1 {
    margin-inline: 50px;
  }

  img {
    max-width: 1100px;
    height: auto;
    border-radius: 4px;
    opacity: 80%;
  }
}

.text-slide-in {
  animation: slideUp 3s ease;
}

.bio {
  flex-direction: column;
  align-items: center;

  img {
    max-width: 200px;
    border-radius: 50% 70%;
    opacity: 80%;
    animation: slideDown 1s ease;
  }

  .text {
    animation: fadeInAnimation ease 3s;

    p {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }
  }

  .sns {
    margin-top: 50px;

    i {
      color: #333;
    }
  }
}

.blog {
  flex-direction: column;
  margin: 85px 0 50px 0;

  .posts {
    animation: fadeInAnimation ease 3s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    align-items: center;
    justify-content: center;

    a:nth-child(odd) {
      .post {
        border-radius: 0 0 0 4px;
      }
    }

    a:nth-child(even) {
      .post {
        border-radius: 0 0 4px 0;
      }
    }

    .post:hover {
      filter: initial;
    }

    .post {
      filter: grayscale(100%);
      height: 600px;
      width: auto;
      display: flex;
      align-items: end;
      text-indent: 40px;
      opacity: 80%;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        gap: 4px;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 25px;
        text-decoration: none;
        color: #fff;
        font-family: 'Questrial', sans-serif;
      }

      span {
        font-size: 16px;
        margin-left: 50px;
      }

      img {
        max-width: 300px;
        border-radius: 4px;
        opacity: 80%;
      }
    }

    .post:hover {
      img {
        opacity: 100%;
      }
    }
  }
}


.projects {
  flex-direction: column;
  align-items: center;
  margin: 85px 0 50px 0;

  .project {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;

    .left, .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 4px;

      img {
        opacity: 70%;
        height: 600px;
        width: 550px;
      }
    }

    a {
      text-decoration: underline;
      color: #333;
      font-size: 12px;
      font-weight: 300;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
  }

  .project:nth-child(odd) { 
    .left {
      background-color: #F1F0EC;
    }
    
    .right {
      background-color: #F1F0EC;
    }
  }

  .project:nth-child(even) { 
    .left {
      background-color: #F1F0EC;
    }

    .right {
      background-color: #F1F0EC;
    }
  }

  .project:nth-child(1) {
    gap: 0;
    .right {
      background-color: #FBFBF9;
    }
  }

  .project:nth-child(2) {
    .right {
      img {
        width: 300px;
        height: auto;
      }
    }
  }

  .project:nth-child(4) {
    gap: 0;

    .left {
      background-color: #F3F3F3;
    }

    .right {
      background-color: #F3F3F3;

      img {
        width: 400px;
        height: auto;
      }
    }
  }

  .project:nth-child(5) {
    .left {
      background-color:#FEFEFD;

      img {
        width: 300px;
        height: auto;
      }
    }
    .right {
      background-color: #FEFEFD;
      ;
    }
  }
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  font-size: 12px;
  text-indent: 20px;
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
  overflow: auto;
  margin: 100px 0 50px 0;
  animation: fadeInAnimation ease 3s;

  img {
    max-width: 400px;
    height: auto;
  }
}

.post-title {
  text-align: center;
}

.post-body {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.projects {
  animation: fadeInAnimation ease 3s;
}

#cursor {
  width: 10px;
  position: absolute;
  display: flex;
  font-size: 12px;
  z-index: 999;
}

@media screen and (min-width: 1201px) {
  .sidebar {
    top: 60px;
  }

  .bio {
    margin-top: 80px;
  }

  .landing {
    margin: 60px 0 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .projects {
    gap: 40px;

    .project {
      width: 100%;
      gap: 40px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      p {
        padding: 30px;
      }

      .left, .right {
        width: 500px;
        min-height: 600px;
        width: 550px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section {
    gap: 10px;
  }

  .sidebar {
    height: 60px;
    top: 60px;
    position: sticky;
    max-width: 95%;
    display: flex;
    margin-inline: auto;

    h1 {
      display: none;
    }

    a {
      font-size: 14px;
    }

    .menu-links {
      gap: 20px;
    }
  }

  .container {
    justify-content: center;
  }

  .landing {
    h1 {
      font-size: 20px;
      margin-inline: 0;
    }
  }

  .video-background video {
    object-fit: cover;
    width: auto;
    height: 100vh;
    border-radius: 4px;
  }

  .blog {
    margin: 0;
    .posts {
      grid-template-columns: 1fr;
      width: 350px;
      margin-inline: auto;

      .post {
        height: 350px;
      }
    }
  }

  .projects {
    flex-direction: column;
    margin: 0;
    gap: 20px;

    .project {
      max-width: 80%;
      gap: 0px;
      flex-direction: column;
      border-radius: 4px;

      .left, .right {
        background-color: #F1F0EC !important;
        max-width: 350px;
        min-height: 200px;
        padding: 20px;
      }

      .left {
        border-radius: 4px 4px 0 0;
        .logo img {
          max-width: 180px;
        }
      }

      .right {
        border-radius: 0 0 4px 4px;
      }
    }

    .project:nth-child(even) {
      .left {
        order: 2;
        border-radius: 0 0 4px 4px;
      }

      .right {
        order: 1;
        border-radius: 4px 4px 0 0;
      }
    }

    .project:nth-child(odd) {
      .left img {
        max-width: 320px;
      }
    }
  }
}

// audio {
//   filter: sepia(50%) saturate(50%) grayscale(1) contrast(100%) invert(0%);
//   width: 150px;
//   height: 25px;
// }

// audio::-webkit-media-controls-timeline, -webkit-media-controls-timeline {
//   display: none;
// }

// audio::-webkit-media-controls-current-time-display,
// audio::-webkit-media-controls-time-remaining-display {
//     display: none;
// }
